@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Rubik', sans-serif;
}

body {
	background-color: gray;
}

.big-box {
	width: 1400px;
	height: 1700px;
	margin-left: auto;
	margin-right: auto;
	background: #FFFFFF url(../img/laptop.png) no-repeat;
	background-size: 848px 480px;
	background-position: top right;
	background-position-y: 150px;
}

.container {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
/*	background-color: gray;*/
}

/* Header Start */

.header {
	width: 100%;
	margin-top: 50px;
	height: 76px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

ul li, a  {
	list-style: none;
	color: #363940;
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;

}

.header a img {
	width: 36px;
	height: 36px;
}

.link-list {
	width: 75%;
}

.link-item {
	margin-left: 10px;
}

.link-item a {
	margin: 15px;
}

.sign-item a {
	color: #6E38F7;
	margin-left: 20px;
}

/* Header End */

/* Hero Section Start */

.hero-section {
	width: 100%;
	height: 674px;
	display: flex;
	justify-content: space-between;
}

.hero-section-left {
	width: 40%;
	height: 674px;
}

.hero-section-title {
	margin-top: 135px;
	font-family: 'Rubik', sans-serif;
	font-size: 58px;
	font-weight: 500;
	line-height: 68px;
	letter-spacing: 0px;
	text-align: left;
}

.hero-section-left button {
	width: 157px;
	margin-top: 38px;
	height: 46px;
	top: 435px;
	left: 230px;
	border: none;
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
}

.hero-section-btn-1 {
	background-color: #6E38F7;
	color: #FFFFFF;
	transition: 0.5s;
}

.hero-section-btn-1:hover {
	background-color: #FFFFFF;
	border: 2px solid #6E38F7;
	color: #6E38F7;
}

.hero-section-btn-2 {
	margin-left: 24px;
	background-color: #FFFFFF;
	color: #6E38F7;
	border: 2px solid #6E38F7;
	transition: 0.5s;
}

.hero-section-btn-2:hover {
	background-color: #6E38F7;
	color: #FFFFFF;
}

.hero-section-parag {
	margin-top: 36px;
	font-family: 'Rubik', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #95A1BB;
}

.hero-section-scroll {
	margin-top: 261px;
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	color: #6E38F7;
}

.hero-section-right {
	width: 50%;
	height: 674px;
}

.hero-section-right img {
	width: 216px;
	margin-top: 167px;
	margin-left: 70px;
	height: 429px;
}

/* Hero Section End */

/* Features section start */

.features-section {
	width: 100%;
	height: 422px;
	background-color: #FFFFFF;
}

.features-section-title {
	margin-top: 180px;
	font-family: 'Rubik', sans-serif;
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.features-section-subtitle {
	width: 396px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 20px;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
	color: #95A1BB;
}

.features-section-boxes {
	width: 100%;
	height: 165px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.features-section-box {
	width: 205px;
	margin-top: 50px;
	height: 165px;
}

.features-section-box-title {
	font-family: 'Rubik', sans-serif;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
}

.features-section-box-parag {
	margin-top: 15px;
	margin-bottom: 20px;
	font-family: 'Rubik', sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
}

.features-section-box-link {
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	text-transform: uppercase;
	color: #6E38F7;
}

/* Features section End */

/* Call to Action Start */

.call-to-action {
	width: 100%;
	height: 320px;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.call-to-action-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.call-to-action-btn {
	width: 157px;
	margin-top: 30px;
	height: 46px;
	border: none;
	background-color: #6E38F7;
	font-family: 'Rubik', sans-serif;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: center;
	color: #FFFFFF;
	text-transform: uppercase;
	transition: 0.5s;
}

.call-to-action-btn:hover {
	border: 1px solid  #6E38F7;
	background-color: #FFFFFF;
	color: #6E38F7;
}

/* Call to Action End */

/* Testymonials Start */

.big-box-1 {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	height: 500px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.testymonials {
	width: 100%;
	height: 500px;
	background-color: #FFFFFF;
	display: flex;
	justify-content: space-between;
}

.testymonials-left {
	width: 40%;
	height: 500px;
}

.testymonials-right {
	width: 50%;
	height: 500px;
}

.testymonials-right img {
	margin-top: 100px;
	width: 48px;
	height: 48px;
}

.testymonials-right-title {
	margin-top: 25px;
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
}

.testymonials-right-subtitle {
	margin-top: 11px;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	color: #95A1BB;
}

.testymonials-right-parag {
	margin-top: 22px;
	width: 410px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
}

.testymonials-btn {
	margin-top: 50px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E1E5EE;
	transition: 0.2s;
}

.testymonials-btn:hover {
	background-color: #6E38F7;
}

/* Testymonials End */

.big-box-2 {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	height: 2400px;
	background-color: #FFFFFF;
}

.container-2 {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

/* Pricing Start */

.pricing {
	width: 100%;
	height: 672px;
}

.pricing-title {
	padding-top: 100px;
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.pricing-subtitle {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
	color: #95A1BB;
}

.pricing-boxes {
	width: 100%;
	margin-top: 40px;
	height: 347px;
	display: flex;
	justify-content: space-between;
}

.pricing-box {
	width: 220px;
	height: 347px;
	border: 1px solid #E1E5EE;
	text-align: center;
	transition: 1s;
}

.pricing-box:hover {
	border: 1px solid #6E38F7;
}

.pricing-box-title {
	margin-top: 30px;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.pricing-box-subtitle {
	margin-top: 30px;
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
}

.pricing-box-subtitle sup {
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: right;
}

.pricing-list .pricing-item {
	text-align: center;
	margin-top: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.pricing-box-icon {
	display: inline-block;
	width: 32px;
	height: 32px;
}

.pricing-box-icon i {
	font-size: 32px;
	color: #6E38F7;
}

.pricing-box-btn {
	width: 160px;
	margin-top: 20px;
	height: 36px;
	border: 1px solid #6E38F7;
	background-color: #FFFFFF;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: center;
	text-transform: uppercase;
	color: #6E38F7;
	transition: 0.4s;
}

.pricing-box-btn:hover {
	background-color: #6E38F7;
	color: #FFFFFF;
}

/* Pricing End */

/* Portfolio Start */

.portfolio {
	width: 100%;
	height: 850px;
	text-align: center;
}

.portfolio-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.portfolio-parag {
	width: 410px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	height: 44px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
	color: #95A1BB;
}

.portfolio-list-1 {
	margin-top: 50px;
	width: 100%;
	height: 310px;
	display: flex;
	justify-content: space-between;
}

.portfolio-list-2 {
	width: 100%;
	height: 310px;
	display: flex;
	justify-content: space-between;
}

.portfolio-item {
	width: 300px;
	height: 300px;
}

.portfolio-item img {
	width: 100%;
}

/* Portfolio End */

/* Content Start */

.content {
	width: 100%;
	height: 500px;
}

.content-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.content-boxes {
	width: 100%;
	margin-top: 50px;
	height: 300px;
	display: flex;
	justify-content: space-between;
}

.content-boxes img {
	width: 100%;
}

.box-1 {
	width: 460px;
	height: 300px;
}

.box-1-title {
	margin-top: -90px;
	margin-left: 30px;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
}

.box-1-subtitle {
	margin-left: 30px;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	color: #95A1BB;
	text-transform: uppercase;
}

.box-2 {
	width: 220px;
	height: 231px;
}

.box-2-title {
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
}

.box-2-subtitle {
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	color: #95A1BB;
	text-transform: uppercase;
}

/* Content End */

/* Contacts Start */

.contacts {
	width: 100%;
	height: 150px
}

.contacts-boxes {
	width: 100%;
	margin-top: 100px;
	height: 150px;
	display: flex;
	justify-content: space-between;
}

.contacts-box-1 {
	width: 460px;
	height: 114px;
}

.contacts-box-1-title {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
}

.contacts-box-1-parag {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
}

.contacts-box-2 {
	width: 220px;
	height: 70px;
}

.contacts-box-2-span {
	display: inline-block;
	width: 24px;
	margin-bottom: 30px;
	height: 24px;
	float: left;
}

.contacts-box-2-span i {
	font-size: 20px;
	color: #CAD1E1;
} 

.contacts-box-2-span-parag {
	margin-left: 10px;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
}

.contacts-box-2-span-2 {
	width: 24px;
	height: 24px;
	float: left;
}

.contacts-box-2-span-2 i {
	font-size: 18px;
	color: #CAD1E1;
}

.contacts-box-2-phone {
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
}

.mail {
	margin-top: 20px;
}

.contacts-box-2-span-3 {
	width: 24px;
	margin-top: 16px;
	margin-left: -22px;
	height: 24px;
	float: left;
}

.contacts-box-2-span-3 i {
	font-size: 18px;
	color: #CAD1E1;
}

.contacts-box-3-phone {
	font-size: 14px;
	margin-top: 15px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #6E38F7;
}

/* Contacts End */

/* Slider Start */

.big-box-3 {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	height: 700px;
}

.slider {
	width: 100%;
	height: 700px;
	background: url(../img/slider-bg.jpg) no-repeat;
	background-size: 100% 700px;
}

.slider-texts {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

.slider-title {
	padding-top: 100px;
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.slider-texts {
	padding-top: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
	color: #95A1BB;
}

.slider-strelka-span {
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
}

.slider-strelka-span i {
	font-size: 48px;
	color: #95A1BB;
}

.slider-btn {
	margin-top: 200px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background-color: #E1E5EE;
	transition: 0.2s;
}

.slider-btn:hover {
	background-color: #6E38F7;
}

/* Slider End */

.big-box-4 {
	width: 1400px;
	margin-left: auto;
	margin-right: auto;
	height: 2500px;
	background-color: #FFFFFF;
}

.container-4 {
	width: 940px;
	margin-left: auto;
	margin-right: auto;
}

/* Product Start */

.product {
	width: 100%;
	height: 572px;s
}

.product-boxes {
	width: 100%;
	height: 395px;
	display: flex;
	justify-content: space-between;
}

.product-box {
	width: 300px;
	margin-top: 100px;
	height: 395px;
}

.product-box img {
	width: 300px;
	height: 300px;
}

.product-box-narx {
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: right;
	color: #6E38F7;
	margin-top: -290px;
	margin-right: 20px;
}

.product-box-title {
	margin-top: 290px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
}

.product-box-parag {
	margin-top: 9px;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #95A1BB;
}

/* Product End */

/* Team Start */

.team {
	width: 100%;
	height: 600px;
}

.team-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.team-title-parag {
	margin-top: 20px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
	color: #95A1BB;
}

.team-img {
	width: 100%;
	margin-top: 40px;
	height: 300px;
	margin-bottom: 40px;
}

.team-img img {
	width: 100%;

}

.team-list-1 {
	width: 100%;
	height: 80px;
	display: flex;
	justify-content: space-between;
}

.team-item-1 {
	width: 292px;
	height: 48px;
}

.team-span {
	display: inline-block;
	width: 48px;
	height: 48px;
	border-radius: 50%;
	background-color: #F6F7FA;
	display: flex;
	align-items: center;
	justify-content: center;
	float: left;
	margin-right: 20px;
}

.team-span i {
	font-size: 36px;
	color: #CAD1E1;
}

.team-item-title {
	margin-top: 1px;
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
}

.team-item-parag {
	margin-top: 5px;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: left;
	color: #95A1BB;
	text-transform: uppercase;
}

/* Team End */

/* Forms Start */

.forms {
	width: 100%;
	margin-top: 200px;
	height: 213px;
}

.forms-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.forms-parag {
	width: 410px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
	color: #95A1BB;
}

.forms-form {
	width: 384px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30px;
	height: 46px;
}

.forms-form input {
	width: 241px;
	padding-left: 15px;
	height: 46px;
	border-radius: 5px;
	border: 1px solid #CAD1E1;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #95A1BB;
	float: left;
}

.forms-form input:nth-child(2) {
	width: 133px;
	padding: 0;
	border-radius: 5px;
	border: none;
	background-color: #6E38F7;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: center;
	color: #FFFFFF;
	float: right;
	transition: 0.3s;
}

.forms-form input:nth-child(2):hover {
	background-color: #FFFFFF;
	color: #6E38F7;
}

/* Forms End */

/* Statistic Start */

.statistic {
	width: 100%;
	margin-top: 100px;
	height: 550px;
}

.statistic-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.statistic-parag {
	width: 396px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
	color: #95A1BB;
}

.result-boxes {
	width: 100%;
	margin-top: 50px;
	height: 260px;
	display: flex;
	justify-content: space-around;
}

.result-box {
	width: 260px;
	height: 260px;
	border-radius: 50%;
	border: 1px solid #6E38F7;
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.result-box-title {
	font-size: 36px;
	font-weight: 500;
	line-height: 43px;
	letter-spacing: 0px;
	text-align: center;
	color: #363940;
}

.result-box-parag {
	width: 178px;
	margin-top: 10px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: center;
	color: #95A1BB;
}

/* Statistic End */

/* footer Start */

.footer	{
	width: 100%;
	height: 300px;
	display: flex;
	justify-content: space-around;
}

.footer-title {
	font-size: 24px;
	font-weight: 500;
	line-height: 28px;
	letter-spacing: 0px;
	text-align: left;
	color: #6E38F7;
	margin-right: 100px;
}

.footer-item-title {
	font-size: 18px;
	font-weight: 500;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: #363940;
	margin-bottom: 10px;
}

.footer-item {
	width: 220px;
	margin-top: 10px;
	font-size: 16px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0px;
	text-align: left;
	color: 	#363940;
}

.footer-form {
	width: 220px;
	height: 46px;
}

.footer-form input {
	width: 142px;
	padding-left: 15px;
	height: 46px;
	border-radius: 4px;
	border: 1px solid #CAD1E1;
	float: left;
}

.footer-form input:nth-child(2) {
	width: 68px;
	padding-left: 0;
	height: 46px;
	border-radius: 4px;
	border: 1px solid #6E38F7;
	float: right;
	font-size: 12px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: 2px;
	text-align: center;
	color: #6E38F7;
	background-color: #FFFFFF;
	text-transform: uppercase;
	transition: 0.3s;
}

.footer-form input:nth-child(2):hover {
	background-color: #6E38F7;
	color: #FFFFFF;
}

/* footer End */